.instruction {
	border: 2px solid black;
	padding: 1%;
	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
}

.randomNumber {
	border: 2px solid black;
	background-color: lightgray; 
	color: green;
	font-size: 400%; 
	font-family: 'Times New Roman', Times, serif; 
}

.totalWL { 
	border: 2px solid black; 
	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
 }

 .totalScore {
 	border: 2px solid black; 
 	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
    color: brown;
    font-size: 200%;

 }

 .scoreDisplay {
 	border: 2px solid black;
	background-color: lightgray;  
	color: black;
	font-size: 400%;
	font-family:'Times New Roman', Times, serif; 
 }

 .header { 
	font-family: 'Times New Roman', Times, serif; 
  }

  .wins, .losses { 
    color: brown;
    font-size: 200%;
  }.instruction {
	border: 2px solid black;
	padding: 1%;
	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
}

.randomNumber {
	border: 2px solid black;
	background-color: lightgray; 
	color: green;
	font-size: 400%; 
	font-family: 'Times New Roman', Times, serif; 
}

.totalWL { 
	border: 2px solid black; 
	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
 }

 .totalScore {
 	border: 2px solid black; 
 	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
    color: brown;
    font-size: 200%;

 }

 .scoreDisplay {
 	border: 2px solid black;
	background-color: lightgray;  
	color: black;
	font-size: 400%;
	font-family:'Times New Roman', Times, serif; 
 }

 .header { 
	font-family: 'Times New Roman', Times, serif; 
  }

  .wins, .losses { 
    color: brown;
    font-size: 200%;
  }.instruction {
	border: 2px solid black;
	padding: 1%;
	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
}

.randomNumber {
	border: 2px solid black;
	background-color: lightgray; 
	color: green;
	font-size: 400%; 
	font-family: 'Times New Roman', Times, serif; 
}

.totalWL { 
	border: 2px solid black; 
	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
 }

 .totalScore {
 	border: 2px solid black; 
 	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
    color: brown;
    font-size: 200%;

 }

 .scoreDisplay {
 	border: 2px solid black;
	background-color: lightgray;  
	color: black;
	font-size: 400%;
	font-family:'Times New Roman', Times, serif; 
 }

 .header { 
	font-family: 'Times New Roman', Times, serif; 
  }

  .wins, .losses { 
    color: brown;
    font-size: 200%;
  }.instruction {
	border: 2px solid black;
	padding: 1%;
	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
}

.randomNumber {
	border: 2px solid black;
	background-color: lightgray; 
	color: green;
	font-size: 400%; 
	font-family: 'Times New Roman', Times, serif; 
}

.totalWL { 
	border: 2px solid black; 
	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
 }

 .totalScore {
 	border: 2px solid black; 
 	background-color: lightgray;  
	font-family: 'Times New Roman', Times, serif; 
    color: brown;
    font-size: 200%;

 }

 .scoreDisplay {
 	border: 2px solid black;
	background-color: lightgray;  
	color: black;
	font-size: 400%;
	font-family:'Times New Roman', Times, serif; 
 }

 .header { 
	font-family: 'Times New Roman', Times, serif; 
  }

  .wins, .losses { 
    color: brown;
    font-size: 200%;
  }